<div class="show-toilets">

<h1> <%=@toilet.location%> </h1>
<h3> <%= @toilet.ratings %> </h3>

<a id="reviewButton" href="#">Rate This Toilet!</a>
<%= erb :_votingPartial, locals: {toilet: @toilet} %>

<hr>

  <ul>
    <li>Number of Stalls: <%=@toilet.num_stalls%></li>
    <li>Has Hooks: <%=@toilet.has_hooks%></li>
    <li>Has Mirrors: <%=@toilet.has_mirrors%></li>
    <li>Has Change Tables<%=@toilet.has_change_tables%></li>

  </ul>
<br>
<h3>Reviews</h3>
<div id='review_section'>

</div>

</div>
