<div class="show-toilets">

<h1> <%=@toilet.location%> </h1>
<h3> <%= @toilet.ratings %> </h3>

<a id="reviewButton" href="#">Rate This Toilet!</a>

<hr>

  <ul>
    <li>Number of Stalls: <%=@toilet.num_stalls%></li>
    <li>Has Hooks: <%=@toilet.has_hooks%></li>
    <li>Has Mirrors: <%=@toilet.has_mirrors%></li>
    <li>Has Change Tables<%=@toilet.has_change_tables%></li>

  </ul>

<%= erb :_votingPartial, locals: {toilet: @toilet} %>
</div>
